<main>
    <header class="cabecalho">
        <div class="container">
            <img src="../../assets/image 1.svg" alt="Logo do Banco Itau">
            <h1 class="nomeAba">Clientes</h1>
        </div>
    </header>
    <section class="containerConteudo">
        <div class="boxInfos" *ngFor="let cliente of clientes">
            <div class="fundo">
                <div>
                    <p class="tituloCliente">{{ cliente.nome }}</p>
                    <p class="conteudo">{{ cliente.email }}</p>
                    <p class="conteudo">{{ cliente.saldo }}</p>
                </div>
                <div class="boxIcon">
                    <mat-icon (click)="abrirInfo(cliente.id)">edit</mat-icon>
                    <mat-icon (click)="deletarCliente(cliente.id)">delete</mat-icon>
                </div>
            </div>
        </div>
        
    </section>
</main>
